[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_wtf = "*"
requests = "*"
apscheduler = "*"
pyyaml = "*"
gunicorn = "*"
simplejson = "*"
influxdb = "*"
sseclient = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
