<tr data-id="{{ device.id }}">
    <td>{{ device.name }}</td>
    <td>{{ device.id }}</td>
    {% if device.online %}
        <td><span class="badge badge-pill badge-success">ON</span></td>
    {% else %}
        <td><span class="badge badge-pill badge-secondary">OFF</span></td>
    {% endif %}

    {% if device.is_logging %}
        <td><span class="badge badge-pill badge-success">Yes</span></td>
    {% else %}
        <td><span class="badge badge-pill badge-secondary">No</span></td>
    {% endif %}

    {% if device.log_managed %}
        <td><button class="btn btn-danger btn-sm remove-device-btn" disabled type="button">Remove</button></td>
    {% else %}
        <td><button class="btn btn-success btn-sm add-device-btn" disabled type="button">Add</button></td>
    {% endif %}
    <td><i class="far fa-play-circle"></i> <i class="fas fa-redo"></i></td>
</tr>
